/**
* Arquivo responsavel pelo estilo da HEADER do projeto
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* HEADER
________________________________________________________________ */

.header {
	background-color: @cor-header;

	&__logo {
		overflow: hidden;
		margin-bottom: 78px;

		.icon-clip, .icon-clip-active {
			float: left;
			margin-right: 6px;
		}

		.icon-clip-active {
			display: none;
		}

		&:hover, &:focus, &:active {
			.icon-clip-active {
				display: inline-block;
			}

			.icon-clip {
				display: none;
			}
		}

		img {
			float: left;
			position: relative;
			top: 3px;
			width: 105px;
		}
	}

	.btn-menu {
		//background: url('../img/menu.svg') no-repeat  0 0;
		background-color: transparent;
		border: none;
		display: table-cell;
		height: 22px;
		margin: 20px 20px 0 0;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 22px;

		&:hover, &:active, &:focus {
			background-color: transparent !important;
		}

		span {
			.transition(background 0.1s linear);
			.text-hide;
			background: @cor-branco;
			border-radius: 100px;
			font-size: 0;
			height: 3px;
			left: 0;
			margin-top: -1.5px;
			position: absolute;
			top: 50%;
			width: 100%;

			&:before, &:after {
				.transition(transform 0.4s);
				background: @cor-branco;
				border-radius: 100px;
				content: " ";
				height: 3.3px;
				position: absolute;
				left: 0;
				width: 100%;
			}

			&:before {
				.transform(translateY(-200%));
				//top: -6.6px;
			}

			&:after {
				.transform(translateY(200%));
				//top: 7.6px;
			}
		}
	}

	.block__menu {
		background-color: transparent;
		left: -100%;
		right: auto;
	}

	&__menu--active {
		.block__menu {
			.transition(~'background-color 0.3s ease-in-out 0.4s, left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s');
			.opacity(1);
			background-color: rgba(red(#111418), green(#111418), blue(#111418), 0.9);
			left: 0;
			right: 0;
			visibility: visible;
		}

		.btn-menu {
			z-index: 1006;
		}

		.btn-menu {
			span {
				background: transparent;

				&:before {
					.transform(translateY(0) rotate(45deg));
					height: 3px;
					//top: 0;
				}

				&:after {
					.transform(translateY(0) rotate(-45deg));
					height: 3px;
					//top: 0;
				}
			}
		}
	}
}