/**
* Arquivo responsavel pelo estilo da HEADER do projeto
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* HEADER
________________________________________________________________ */

header {
	background-color: @cor-header;

	.header {
		&__logo {
			overflow: hidden;
			margin-bottom: 78px;

			.icon-clip, .icon-clip-active {
				float: left;
				margin-right: 6px;
			}

			.icon-clip-active {
				display: none;
			}

			&:hover, &:focus, &:active {
				.icon-clip-active {
					display: inline-block;
				}

				.icon-clip {
					display: none;
				}
			}

			img {
				float: left;
				position: relative;
				top: 3px;
				width: 105px;
			}
		}
	}
}