/**
* Arquivo responsavel pelo estilo da HEADER do projeto
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* HEADER
________________________________________________________________ */

header {
	background-color: @cor-header;

	.header {
		&__logo {
			overflow: hidden;
			margin-bottom: 78px;

			.icon-clip {
				float: left;
				margin-right: 6px;
			}

			img {
				float: left;
				position: relative;
				top: 3px;
				width: 105px;
			}
		}
	}
}