/**
* Arquivo responsavel pelo estilo dos ICONES do projeto
*
* @version: 1.0
*
* Copyright(c) Todos os direitos reservados a
*/

/* ICONES
________________________________________________________________ */

.icon {
	background: no-repeat 0 0;
	display: inline-block;
	position: relative;
	line-height: 1;

	&-clip {
		background-image: url("@{ico}/icon-clip.svg");
		.background-size;
		height: 18px;
		width: 10px;

		.desktop({
			height: 21px;
			width: 11px;
		});
	}

	&-clip-active {
		background-image: url("@{ico}/icon-clip-active.svg");
		.background-size;
		height: 18px;
		width: 10px;

		.desktop({
			height: 21px;
			width: 11px;
		});
	}

	&-filter {
		background-image: url("@{ico}/icon-filter.svg");
		.background-size;
		height: 14px;
		width: 14px;
	}

	&-search {
		background-image: url("@{ico}/icon-search.svg");
		.background-size;
		height: 20px;
		width: 20px;
	}

	&-close {
		background-image: url("@{ico}/icon-close.svg");
		.background-size;
		height: 15px;
		width: 15px;
	}

	&-gear {
		background-image: url("@{ico}/icon-gear.svg");
		.background-size;
		height: 16px;
		width: 16px;
	}

	&-gear-inactive {
		background-image: url("@{ico}/icon-gear-inactive.svg");
		.background-size;
		height: 16px;
		width: 16px;
	}

	&-arrow-left {
		background-image: url("@{ico}/icon-arrow-left.svg");
		.background-size;
		height: 14px;
		width: 9px;
	}

	&-arrow-right {
		background-image: url("@{ico}/icon-arrow-right.svg");
		.background-size;
		height: 14px;
		width: 9px;
	}

	&-arrow-top {
		background-image: url("@{ico}/icon-arrow-top.svg");
		.background-size;
		height: 8px;
		width: 13px;
	}

	&-arrow-top-active {
		background-image: url("@{ico}/icon-arrow-top-active.svg");
		.background-size;
		height: 5px;
		width: 9px;
	}

	&-arrow-bottom {
		background-image: url("@{ico}/icon-arrow-bottom.svg");
		.background-size;
		height: 5px;
		width: 9px;
	}

	&-remove {
		background-image: url("@{ico}/icon-remove.svg");
		.background-size;
		height: 9px;
		width: 9px;
	}

	&-calendar {
		background-image: url("@{ico}/icon-calendar.svg");
		.background-size;
		height: 17px;
		width: 18px;
	}

	&-star {
		background-image: url("@{ico}/icon-star.svg");
		.background-size;
		height: 16px;
		width: 16px;
	}

	&-trash {
		background-image: url("@{ico}/icon-trash.svg");
		.background-size;
		height: 15px;
		width: 12px;
	}

	&-person {
		background-image: url("@{ico}/icon-person.svg");
		.background-size;
		height: 15px;
		width: 18px;
	}
}