/**
* Arquivo responsavel pelo estilo dos ICONES do projeto
*
* @version: 1.0
*
* Copyright(c) Todos os direitos reservados a
*/

/* ICONES
________________________________________________________________ */

.icon {
	background: no-repeat 0 0;
	display: inline-block;
	position: relative;
	line-height: 1;

	&-clip {
		background-image: url("@{ico}/icon-clip.svg");
		.background-size;
		height: 18px;
		width: 10px;

		.desktop({
			height: 21px;
			width: 11px;
		});
	}

	&-clip-active {
		background-image: url("@{ico}/icon-clip-active.svg");
		.background-size;
		height: 18px;
		width: 10px;

		.desktop({
			height: 21px;
			width: 11px;
		});
	}

	&-clip-b {
		background-image: url("@{ico}/icon-clip-b.svg");
		.background-size;
		height: 35px;
		width: 31px;
	}

	&-filter {
		background-image: url("@{ico}/icon-filter.svg");
		.background-size;
		height: 14px;
		width: 14px;

		.desktop({
			height: 16px;
			width: 16px;
		});
	}

	&-search {
		background-image: url("@{ico}/icon-search.svg");
		.background-size;
		height: 20px;
		width: 20px;
	}

	&-close {
		background-image: url("@{ico}/icon-close.svg");
		.background-size;
		height: 15px;
		width: 15px;
	}

	&-close-b {
		background-image: url("@{ico}/icon-close-b.svg");
		.background-size;
		height: 14px;
		width: 14px;

		.desktop({
			height: 12px;
			width: 12px;
		});
	}

	&-close-c {
		background-image: url("@{ico}/icon-close-c.svg");
		.background-size;
		height: 11px;
		width: 11px;

		.desktop({
			height: 12px;
			width: 12px;
		});
	}

	&-gear {
		background-image: url("@{ico}/icon-gear.svg");
		.background-size;
		height: 16px;
		width: 16px;
	}

	&-gear-inactive {
		background-image: url("@{ico}/icon-gear-inactive.svg");
		.background-size;
		height: 16px;
		width: 16px;
	}

	&-arrow-left {
		background-image: url("@{ico}/icon-arrow-left.svg");
		.background-size;
		height: 14px;
		width: 9px;

		.desktop({
			height: 13px;
			width: 8px;
		});
	}

	&-arrow-right {
		background-image: url("@{ico}/icon-arrow-right.svg");
		.background-size;
		height: 14px;
		width: 9px;
	}

	&-arrow-top {
		background-image: url("@{ico}/icon-arrow-top.svg");
		.background-size;
		height: 8px;
		width: 13px;
	}

	&-arrow-top-active {
		background-image: url("@{ico}/icon-arrow-top-active.svg");
		.background-size;
		height: 5px;
		width: 9px;
	}

	&-arrow-bottom {
		background-image: url("@{ico}/icon-arrow-bottom.svg");
		.background-size;
		height: 5px;
		width: 9px;
	}

	&-arrow-bottom-b {
		background-image: url("@{ico}/icon-arrow-bottom-b.svg");
		.background-size;
		height: 12px;
		width: 9px;
	}

	&-remove {
		background-image: url("@{ico}/icon-remove.svg");
		.background-size;
		height: 9px;
		width: 9px;
	}

	&-calendar {
		background-image: url("@{ico}/icon-calendar.svg");
		.background-size;
		height: 17px;
		width: 18px;
	}

	&-star {
		background-image: url("@{ico}/icon-star.svg");
		.background-size;
		height: 16px;
		width: 16px;
	}

	&-trash {
		background-image: url("@{ico}/icon-trash.svg");
		.background-size;
		height: 15px;
		width: 12px;
	}

	&-print {
		background-image: url("@{ico}/icon-print.svg");
		.background-size;
		height: 15px;
		width: 15px;
	}

	&-person {
		background-image: url("@{ico}/icon-person.svg");
		.background-size;
		height: 15px;
		width: 18px;
	}

	&-label {
		background-image: url("@{ico}/icon-label.svg");
		.background-size;
		height: 14px;
		width: 17px;
	}

	&-phone {
		background-image: url("@{ico}/icon-phone.svg");
		.background-size;
		height: 21px;
		width: 21px;
	}

	&-car {
		background-image: url("@{ico}/icon-car.svg");
		.background-size;
		height: 21px;
		width: 21px;
	}

	&-car-b {
		background-image: url("@{ico}/icon-car-b.svg");
		.background-size;
		height: 33px;
		width: 33px;
	}

	&-hotel {
		background-image: url("@{ico}/icon-hotel.svg");
		.background-size;
		height: 24px;
		width: 10px;
	}

	&-hotel-b {
		background-image: url("@{ico}/icon-hotel-b.svg");
		.background-size;
		height: 34px;
		width: 14px;
	}

	&-restaurant {
		background-image: url("@{ico}/icon-restaurant.svg");
		.background-size;
		height: 27px;
		width: 14px;
	}

	&-restaurant-b {
		background-image: url("@{ico}/icon-restaurant-b.svg");
		.background-size;
		height: 36px;
		width: 19px;
	}

	&-hospital {
		background-image: url("@{ico}/icon-hospital.svg");
		.background-size;
		height: 20px;
		width: 20px;
	}

	&-hospital-b {
		background-image: url("@{ico}/icon-hospital-b.svg");
		.background-size;
		height: 20px;
		width: 20px;
	}

	&-sheet {
		background-image: url("@{ico}/icon-sheet.svg");
		.background-size;
		height: 22px;
		width: 19px;
	}

	&-sheet-b {
		background-image: url("@{ico}/icon-sheet-b.svg");
		.background-size;
		height: 30px;
		width: 26px;
	}

	&-reminder {
		background-image: url("@{ico}/icon-reminder.svg");
		.background-size;
		height: 23px;
		width: 13px;
	}

	&-reminder-b {
		background-image: url("@{ico}/icon-reminder-b.svg");
		.background-size;
		height: 34px;
		width: 20px;
	}

	&-check {
		background-image: url("@{ico}/icon-check.svg");
		.background-size;
		height: 12px;
		width: 13px;
	}
}