/**
* Arquivo responsavel pelo estilo dos Bloco Table
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente BLOCK__TABLE
____________________________________________________________________________________ */

.block__table {
	padding-top: 23px;
	position: relative;

	.desktop({
		padding-top: 30px;
	});

	&.col-m-9 {
		.block__table--actions {
			//margin-top: 9px;
		}

		.table-wrapper {
			position: relative;
			top: 0;
		}
	}

	&--actions {
		float: left;
		position: relative;
		margin-bottom: 15px;

		.desktop({
			z-index: 4;
		});

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			float: left;
			height: 30px;
			border: solid 1px #d0d9db;
			border-left: 0;
			padding: 0;
			margin: 0;
			min-width: 50px;
			text-align: center;

			.desktop({
				width: 70px;
			});

			&:first-child {
				.border-radius(@border-radius-base 0 0 @border-radius-base);
				border-left: solid 1px #d0d9db;
			}

			&:last-child {
				.border-radius( 0 @border-radius-base @border-radius-base 0);
			}
		}

		a, button {
			padding: 0;
			height: 100%;
			width: 100%;

			.icon {
				.opacity(0.5);
			}

			&:hover, &:focus, &:active {
				background-color: #f1f3f4;

				.icon {
					.opacity(1);
				}
			}

			&.btn-link {
				color: #b7c4c8;
				padding: 0 5px;

				&:hover {
					color: @text-color;
				}
			}
		}

		.checkbox {
			margin: 7px 0 0 15px;
		}
	}

	.btn-toolbar {
		.clearfix;
	}

	.dropdown {
		height: 30px;
		width: 50px;

		> a, > button {
			height: 100%;
			padding: 0;
			text-align: center;
			width: 100%;

			&:hover, &:focus, &:active {
				~ ul {
					display: none;

					.desktop({
						display: block;
					});
				}
			}

			.icon {
				margin: 0 auto;
			}
		}

		ul {
			top: 120%;
		}
	}

	&--simulate {
		&-stripe {
			position: absolute;
			top: 128px;
			width: 100%;

			table {
				width: 100%;
			}
		}
	}

	table {
		//width: 100%;

		thead {
			text-align: left;
		}
	}
}