/**
* Arquivo responsavel pelo estilo dos Bloco View
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente BLOCK__VIEW
____________________________________________________________________________________ */

.block__view {
	padding-top: 8px;

	&--list {

	}

	&--title {
		.clearfix();

		h3 {
			color: #3c454d;
			font-family: @font-family-gotham-bold;
			font-size: 19px;
			margin: 25px 0 22px;
		}

		.btn-blue {
			color: @cor-azul;
			font-family: @font-family-gotham-medium;
			font-size: 16px;
			margin-top: 11px;
		}
	}
}