/**
* Arquivo responsavel pelo estilo dos Bloco Panel
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente BLOCK__PANEL
____________________________________________________________________________________ */

.block__panel {
	&--heading {
		.clearfix;
		.border-radius(10px 10px 0 0);
		background-color: #89d795;
		padding: 18px 20px;

		a {
			color: @cor-branco;
			font-family: @font-family-gotham-book;
			font-size: 15px;
			padding-top: 0;
			padding-bottom: 0;

			&:hover {
				color: @cor-branco;
				text-decoration: underline;
			}
		}
	}

	&--title {
		color: @cor-branco;
		margin: 0;
		font-family: @font-family-gotham-medium;
		font-size: 19px;
		font-weight: inherit;
		line-height: 23px;
		position: relative;

		.desktop({
			padding-left: 45px;
		});

		.icon {
			.transform(translateY(-50%));
			display: none;
			left: 0;
			position: absolute;
			top: 50%;

			.desktop({
				display: block;
			});
		}
	}

	&--body {
		.clearfix;
		.border-radius(0 0 10px 10px);
		background-color: #f1f5f5;
		padding: 10px 20px;

		.desktop({
			padding: 28px 70px;
		});

		.block__list {
			dt {
				width: 12%;
			}

			dl {
				border-top: 0;
			}

			dd {
				padding-left: 12%;

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}