/**
* Arquivo responsavel pelo estilo dos Bloco Notes
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente BLOCK__NOTES
____________________________________________________________________________________ */

.block__notes {
	padding: 0 10px;

	&--title {
		h2, h3, h4 {
			border-bottom: solid 1px #dae1e2;
			color: #606974;
			font-family: @font-family-gotham-light;
			font-size: 20px;
			margin: 30px 0 20px 0;
			padding: 0 0 15px 0;
			width: 100%;

			.desktop({
				font-size: 22px;
				padding: 0 0 24px 0;
			});
		}
	}

	&--form {
		border-bottom: dashed 1px #dae0e2;
		margin-bottom: 30px;
		padding: 0 0 20px 0;

		.desktop({
			margin-bottom: 40px;
			padding: 0 100px 38px;
		});

		label {
			color: #4c5761;
			font-family: @font-family-gotham-medium;
			font-size: 14px;
			margin-bottom: 12px;

			.desktop({
				font-size: 15px;
			});
		}

		textarea {
			background-color: @cor-branco;
			margin-bottom: 20px;
		}

		.btn-blue {
			font-size: 15px;
		}
	}

	&--avatars {
		.clearfix;
		margin-bottom: 27px;

		&-fixed {
			.gerar-coluna(2, 0);
			float: left;
			padding: 0 22px 0 0;
			position: relative;

			.desktop({
				width: 52px;
			});


			&:after {
				.transform(translateY(-50%));
				border: solid 1px #d9e1e3;
				content: ' ';
				height: 22px;
				position: absolute;
				right: 5px;
				top: 50%;
			}

			.block__menu--avatar {
				height: 44px;
				margin: 0;
				width: 44px;

				.desktop({
					height: 34px;
					width: 34px;
				});
			}
		}

		&-scrolling {
			.gerar-coluna(10, 0);
			float: left;
			padding: 0 0 8px 0;
			position: relative;
			top: 5px;
			overflow-x: scroll;

			.desktop({
				margin-left: 5px;
				top: 0;
				overflow-x: visible;
			});

			ul {
				.flex-display;
				.flex-flow('row');
				list-style: none;
				padding: 0;
				margin: 0;
				width: 510px;

				.desktop({
					display: block;
					width: auto;
				});
			}

			li {
				.flex(1);
				.border-radius(5px);
				list-style: none;
				padding: 0 5px;
				position: relative;

				.desktop({
					float: left;
				});
			}

			span {
				.transform(translateX(-50%));
				.border-radius(20px);
				background-color: #334a5d;
				color: @cor-branco;
				font-family: @font-family-gotham-medium;
				font-size: 10px;
				left: 50%;
				padding: 3px 6px;
				position: absolute;
				bottom: -8px;
			}

			.block__menu--avatar {
				height: 36px;
				margin: 0;
				width: 36px;

				.desktop({
					height: 34px;
					width: 34px;
				});
			}
		}
	}

	&--list {
		border-bottom: dashed 1px #dae0e2;
		margin-bottom: 30px;

		.desktop({
			margin-bottom: 40px;
			padding: 0 100px;
		});

		&-last {
			border-bottom: none;
		}

		&-head {
			margin-bottom: 25px;

			.desktop({
				margin-bottom: 27px;
			});

			.block__menu--avatar {
				height: 36px;
				margin: 0 7px 0 0;
				float: left;
				width: 36px;

				.desktop({
					margin-right: 10px;
					height: 34px;
					width: 34px;
				});
			}

			a {
				color: #2e7bb6;
				font-family: @font-family-gotham-book;
				font-size: 13px;
				padding-bottom: 0;
				padding-top: 0;
				margin-top: 10px;

				.desktop({
					font-size: 15px;
				});

				&:hover, &:focus, &:active {
					border-color: #b7c3c5;
					color: #2e7bb6;
				}

				& + a {
					border-left: solid 1px #b7c3c5;
				}
			}

			h4 {
				color: #a4b4ba;
				font-family: @font-family-gotham-light;
				font-size: 14px;
				float: left;
				margin-right: 10px;
				text-transform: uppercase;

				.desktop({
					font-size: 15px;
				});
			}

			.badge {
				background-color: #87d190;
				font-size: 10px;
				text-transform: uppercase;
				position: relative;
				top: 4px;
			}
		}

		&-content {
			padding-bottom: 30px;

			.desktop({
				padding-bottom: 47px;
			});

			p {
				color: #56606b;
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;

				.desktop({
					font-size: 15px;
				});
			}
		}
	}

	.btn-gray {
		.desktop({
			font-size: 15px;
		});
	}
}