/**
* Arquivo responsavel pelo estilo do componente PAGE
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente Page
____________________________________________________________________________________ */

.page {
	&__list, &__view {
		.page__title {
			margin-bottom: 39px;
		}

		.page__header {
			margin-bottom: 10px;

			.desktop({
				margin-bottom: 8px;
			});
		}

		.block__pagination {
			.desktop({
				text-align: right;
			});
		}
	}

	&__view {
		.block__filter--line {
			.desktop({
				top: 47px;
			});
		}

		.page__content {
			.desktop({
				
			});
		}
	}

	&__header {
		background-color: @cor-header;
	}

	&__title {
		h2 {
			color: @cor-branco;
			font-family: @font-family-gotham-light;
			font-size: 33px;
			font-weight: 300;
			margin-top: 7px;

			.desktop({
				font-size: 48px;
			});
		}

		span {
			color: #7a8796;
			display: inline-block;
			font-family: @font-family-gotham-book;
			font-size: 14px;
		}

		.block__menu--avatar {
			height: 77px;
			margin-bottom: 14px;
			width: 77px;

			.desktop({
				float: left;
				margin-right: 30px;
				margin-top: -8px;
			});
		}

		.btn-success {
			.desktop({
				font-size: 16px;
				padding: 13px 30px;
			});
		}
	}

	&__menu {
		.flex-display;

		.desktop({
			display: inline-block;
		});

		a:has(span) {
			border: solid 1px red;
		}

		&--item {
			.flex-grow(1);
			color: #7a8796;
			display: inline-block;
			font-family: @font-family-gotham-light;
			font-size: 12px;
			line-height: 6px;
			padding: 0 0 20px;
			position: relative;
			text-transform: uppercase;
			text-align: center;

			.desktop({
				padding: 0 12px 20px;
			});

			&:hover {
				border-bottom: 3px solid #64758c;
				color: #cee4fd;
			}

			&-active {
				border-bottom: 3px solid @cor-verde;
				color: @cor-verde;
				font-family: @font-family-gotham-medium;

				&:hover {
					border-bottom: 3px solid @cor-verde;
					color: @cor-verde;
				}
			}

			.badge {
				
			}
		}
	}

	&__content {
		position: relative;
	}

	&__form {
		&--header {
			h2 {
				color: #3c454c;
				font-family: @font-family-gotham-medium;
				font-size: 25px;
				margin: 42px 0 28px;

				.desktop({
					font-family: @font-family-gotham-book;
					font-size: 40px;
					margin: 68px 0 32px;
				});
			}
		}

		&--content {
			.block__collapse {
				> .row {
					border-top: solid 1px #d9e1e2;
				}

				&--title {
					background-color: @cor-branco;

					.desktop({
						border-top: 0;
					});

					a {
						color: #3c454c;
						font-family: @font-family-gotham-light;
						font-size: 20px;
						padding: 31px 0 28px;
						text-transform: none;

						.desktop({
							font-size: 24px;
							padding: 60px 0;
						});
					}
				}

				&--content {
					padding: 0 5px;

					.desktop({
						background-color: @cor-branco;
						padding-top: 48px;
					});

					.row {
						border-top: dashed 1px #d7e1e3;
						padding: 20px 0 20px;

						.desktop({
							&:first-child {
								border-top: none;
							}
						});
					}

					.col-12 {
						margin-bottom: 0;
					}

					label {
						color: #515860;
						font-family: @font-family-gotham-medium;
						margin-bottom: 13px;
						padding-bottom: 0;

						.desktop({
							font-size: 15px;
							text-align: left;
						});

						span {
							color: #59606a;
							font-family: @font-family-sans-serif;
							font-size: 10px;
							font-weight: 400;

							.desktop({
								color: #7a8796;
								display: block;
								font-size: 13px;
							});
						}
					}

					.form-style {
						margin-bottom: 18px;
					}

					.radio {
						margin-right: 20px;

						label {
							margin-bottom: 0;

							.desktop({
								font-size: 14px;
							})
						}
					}

					input, textarea, select {
						background-color: @cor-branco;
					}

					.block__list--archives {
						margin-bottom: 18px;
					}

					.btn-next, .btn-save {
						display: block;
						font-family: @font-family-gotham-medium;
						font-size: 15px;
						margin: 20px auto;
						padding: 25px 10px;
						width: 100%;

						.icon {
							margin-right: 5px;
						}
					}
				}

				&--open {
					.row {
						// & > .col-12:first-child {
						// 	.desktop({
						// 		.gerar-m-coluna(4, 0);
						// 	});
						// }

						.col-m-4 {
							.desktop({
								//padding: 0;
							});
						}

						.col-m-8 {
							.desktop({
								//padding: 0;
							});
						}
					}
				}
			}
		}
	}
}