/**
* Arquivo responsavel pelo estilo dos Bloco Text
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente BLOCK__TEXT
____________________________________________________________________________________ */

.block__text {
	border-top: solid 1px #d7e1e3;
	padding-top: 22px;

	p {
		color: #4c5761;
		font-family: @font-family-gotham-medium;
		font-size: 14px;

		.desktop({
			font-size: 15px;
			padding-left: 35%;
		});
	}

	&--timer {
		padding: 80px 0;
		text-align: center;

		.desktop({
			text-align: left;
		});

		h3 {
			color: @cor-branco;
			font-family: @font-family-gotham-light;
			font-size: 26px;
			margin: 0 0 22px 0;

			.desktop({
				font-weight: bold;
			});
		}

		p {
			color: #cdffe6;
			font-family: @font-family-sans-serif;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 67px;
		}

		h4 {
			color: @cor-branco;
			font-family: @font-family-gotham-light;
			font-size: 20px;
			margin: 0 0 10px 0;

			.desktop({
				font-weight: bold;
			});

			& ~ p {
				font-size: 14px;

				.desktop({
					margin-bottom: 20px;
				});
			}
		}

		.legend {
			color: #cdffe6;
			display: block;
			font-family: @font-family-sans-serif;
			font-size: 12px;
			font-weight: 400;
			margin-top: 15px;
			text-align: center;
		}
	}

	&--table {
		.border-radius(5px);
		border: solid 1px #68caa9;
		text-align: center;

		&-head {
			border-bottom: solid 1px #68caa9;
			margin: 0;

			> div {
				border-left: solid 1px #68caa9;

				&:first-child {
					border-left: 0;
				}
			}

			p {
				color: #cdffe6;
				font-family: @font-family-gotham-medium;
				font-size: 10px;
				padding: 15px 0;
				margin: 0;
				text-transform: uppercase;

				.desktop({
					padding: 9px 0;
				});
			}
		}

		&-body {
			> div {
				border-left: solid 1px #68caa9;

				&:first-child {
					border-left: 0;
				}
			}

			strong {
				color: @cor-branco;
				display: inline-block;
				font-family: @font-family-gotham-light;
				font-size: 20px;
				padding: 37px 0;

				.desktop({
					padding: 34px 0;
				});
			}

			.col-4 {
				height: 120px;
			}

			figure {
				.transform(translateY(-50%));
				position: absolute;
				top: 50%;
				text-align: center;
				width: 100%;

				img {
					margin-bottom: 20px;
				}

				figcaption {
					color: #a3b1c0;
					font-family: @font-family-gotham-medium;
					font-size: 10px;
				}
			}
		}
	}
}