/**
* Arquivo responsavel pelo estilo dos Bloco Filter
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente BLOCK__FILTER
____________________________________________________________________________________ */

.block__filter {
	border-bottom: solid 1px rgba(red(#d0d9db), green(#d0d9db), blue(#d0d9db), .8);
	padding: 0 0 10px 0;
	position: relative;
	margin-bottom: 20px;

	.block__filter--btn-close {
		display: none;
	}

	&--open {
		.block__filter--btn-close {
			display: block;
		}

		.block__filter--btn-open {
			display: none;
		}

		.block__filter--options {
			.transition(all 0.5s ease-in-out 0s);
			.opacity(1);
			height: auto;
			visibility: visible;
		}

		.block__filter--show {
			.opacity(0.5);
			pointer-events: none;
		}
	}

	&--show {
		outline: none;
	}

	&--form {
		.transition(all 0.5s ease-in-out 0s);
		.opacity(0.0);
		position: absolute;
		top: 0;
		right: 0;
		visibility: hidden;
		width: 0;

		&-active {
			.transition(all 0.5s easi-in-out 0s);
			.opacity(1);
			position: absolute;
			right: 0;
			top: 0;
			visibility: visible;
			width: 100%;
		}
	}

	&--options {
		.transition(all 0.5s ease-in-out 0s);
		.opacity(0.0);
		background-color: @cor-branco;
		height: 0;
		position: absolute;
		top: 55px;
		left: 0;
		visibility: hidden;
		width: 100%;
		z-index: 1001;

		.btn-blue {
			display: block;
			font-family: @font-family-gotham-medium;
			font-size: 15px;
			margin: 20px auto;
			padding: 25px 10px;
			width: 90%;
		}
	}
}