/**
* Arquivo responsavel pelo estilo dos Bloco Menu
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente BLOCK__MENU
____________________________________________________________________________________ */

.block__menu {
	.transition(~'left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s');
	.opacity(0.0);
	background-color: rgba(red(#111418), green(#111418), blue(#111418), 0.9);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 1005;
	width: 100%;

	.desktop({
		display: none;
	});

	&--wrap {
		background-color: #222830;
		height: 100%;
		min-height: 100%;
		overflow: auto;
		padding: 0 20px;
		width: 78%;
	}

	&--header, &--content {
		border-bottom: solid 1px #353e4a;
		padding: 25px 0;
	}

	&--footer {
		padding: 25px 0;
	}

	&--logo {
		margin: 0;
		overflow: hidden;

		.icon-clip {
			float: left;
			margin-right: 6px;
		}

		img {
			float: left;
			position: relative;
			top: 3px;
			width: 105px;
		}
	}

	&--links {
		a, button {
			color: @cor-branco;
			display: block;
			font-family: @font-family-gotham-book;
			font-size: 18px;
			margin-bottom: 16px;

			.desktop({
				display: inline-block;
				color: #7a8796;
				font-size: 14px;
				font-weight: 300;
				line-height: 12px;
				margin-left: 30px;
				margin-top: 10px;
			});

			&:first-child {
				.desktop({
					margin-left: 0;
				});
			}

			&:hover, &:focus, &:active {
				color: @cor-verde;

				.desktop({
					color: @cor-branco;
				});
			}

			&.red {
				color: #f4676b;

				&:hover, &:focus, &:active {
					color: #f4676b !important;
				}
			}
		}

		.dropdown {
			margin-left: 30px;

			&:hover, &:focus, &:active {
				> a {
					color: @cor-branco;
				}
			}

			ul {
				padding: 5px 17px;
			}
		}

		&-avatar {
			position: relative;
			//top: -40px;

			a {
				position: relative;
				//top: -14px;

				.desktop({
					top: -14px;
					margin: 0;
				});

				.tablet-landscape({
					top: 2px;
				});
			}

			a, button {

			}

			.block__menu--avatar {
				position: relative;
				//top: 28px;
				margin: 0;

				.desktop({
					top: 0;

					&:hover {
						//border: 2px solid #34d183;
					}
				});
			}

			.dropdown {
				ul {
					top: 88%;

					.tablet-landscape({
						.transform(translateX(0));
						left: auto;
						right: 0;
					});

					a {
						.desktop({
							top: 0;
						});
					}
				}

				.desktop({
					&:hover {
						.block__menu--avatar {
							//border: 2px solid #34d183;
						}
					}
				});
			}
		}
	}

	&--avatar {
		.border-radius(50%);
		display: inline-block;
		height: 48px;
		margin-bottom: 25px;
		overflow: hidden;
		width: 48px;

		.desktop({
			height: 34px;
			width: 34px;
		});

		&-selected {
			border: solid 2px #86d190;
		}
	}

	&--desktop {
		display: none;
		position: relative;
		top: 18px;

		.desktop({
			display: block;
		});
	}
}