/**
* Arquivo responsavel pelo estilo do componente PAGE
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Componente Page
____________________________________________________________________________________ */

.page {
	&__list, &__view {
		.page__title {
			margin-bottom: 39px;
		}

		.page__header {
			margin-bottom: 10px;

			.desktop({
				margin-bottom: 8px;
			});
		}

		.block__pagination {
			.desktop({
				text-align: right;
			});
		}
	}

	&__view {
		.block__filter--line {
			.desktop({
				top: 47px;
			});
		}

		.block__view--title h3 {
			margin-top: 30px;
		}

		.page__content {
			.desktop({
				
			});
		}
	}

	&__header {
		background-color: @cor-header;
	}

	&__title {
		h2 {
			color: @cor-branco;
			font-family: @font-family-gotham-light;
			font-size: 33px;
			font-weight: 300;
			margin-top: 7px;

			.desktop({
				font-size: 48px;
			});
		}

		span {
			color: #7a8796;
			display: inline-block;
			font-family: @font-family-gotham-book;
			font-size: 14px;
		}

		.block__menu--avatar {
			height: 77px;
			margin-bottom: 14px;
			width: 77px;

			.desktop({
				float: left;
				margin-right: 30px;
				margin-top: -8px;
			});
		}

		.btn-success {
			.desktop({
				font-size: 16px;
				padding: 13px 30px;
			});
		}

		.btn-add {
			font-size: 14px;
			width: 100%;

			.desktop({
				font-size: 16px;
			});
		}

		.block__dropdown {
			margin-bottom: 33px;
		}

		&--nomargin {
			margin-bottom: 0 !important;
		}
	}

	&__menu {
		.flex-display;

		.desktop({
			display: inline-block;
		});

		a:has(span) {
			border: solid 1px red;
		}

		&--item {
			.flex-grow(1);
			color: #7a8796;
			display: inline-block;
			font-family: @font-family-gotham-light;
			font-size: 12px;
			line-height: 6px;
			padding: 0 0 20px;
			position: relative;
			text-transform: uppercase;
			text-align: center;

			.desktop({
				padding: 0 12px 20px;
			});

			&:hover {
				border-bottom: 3px solid #64758c;
				color: #cee4fd;
			}

			&-active {
				border-bottom: 3px solid @cor-verde;
				color: @cor-verde;
				font-family: @font-family-gotham-medium;

				&:hover {
					border-bottom: 3px solid @cor-verde;
					color: @cor-verde;
				}
			}

			.badge {
				
			}
		}
	}

	&__content {
		position: relative;
	}

	&__form {
		&--header {
			h2 {
				color: #3c454c;
				font-family: @font-family-gotham-medium;
				font-size: 25px;
				margin: 42px 0 28px;

				.desktop({
					font-family: @font-family-gotham-book;
					font-size: 40px;
					float: left;
					margin: 68px 0 32px;
				});
			}

			.block__message {
				.desktop({
					float: left;
					margin: 48px 0 0 120px;
					min-width: 400px;
				});
			}
		}

		&--content {
			.block__collapse {
				> .row {
					border-top: solid 1px #d9e1e2;
				}

				&:not(.block__collapse--open) {
					.col-m-4 {
						.transition(width 0.0s ease 0.6s);
						.gerar-m-coluna(12, @grid-separacao);
					}
				}

				&--title {
					background-color: @cor-branco;

					.desktop({
						border-top: 0;
					});

					a {
						color: #3c454c;
						font-family: @font-family-gotham-light;
						font-size: 20px;
						padding: 31px 0 28px;
						text-transform: none;

						.desktop({
							font-size: 24px;
							padding: 60px 0;
						});
					}
				}

				&--content {
					padding: 0 5px;

					.desktop({
						background-color: @cor-branco;
						padding-top: 48px;
					});

					.row {
						border-top: dashed 1px #d7e1e3;
						padding: 20px 0 20px;

						.desktop({
							position: relative;

							&:first-child {
								border-top: none;
							}
						});
					}

					.col-12 {
						margin-bottom: 0;
					}

					label {
						color: #515860;
						font-family: @font-family-gotham-medium;
						margin-bottom: 13px;
						padding-bottom: 0;

						.desktop({
							font-size: 15px;
							margin-bottom: 0;
							margin-top: 17px;
							text-align: left;

							&.no-margin-top {
								margin-top: 0;
							}
						});

						span {
							color: #59606a;
							display: inline-block;
							font-family: @font-family-sans-serif;
							font-size: 10px;
							font-weight: 400;
							margin-left: 6px;

							.desktop({
								color: #7a8796;
								display: block;
								font-size: 13px;
								margin-left: 0;
							});

							&.error {
								color: @cor-erro;
								font-size: 10px;
								font-weight: 400;

								.desktop({
									font-size: 13px;
								});
							}
						}
					}

					// .form-style {
					// 	margin-bottom: 18px;

					// 	.desktop({
					// 		margin-bottom: 0;
					// 	});
					// }

					.btn-more {
						display: inline-block;
						font-family: @font-family-gotham-medium;
						margin-top: 18px;

						.desktop({
							margin-top: 17px;
						});
					}

					.radio {
						margin-right: 20px;

						label {
							margin-bottom: 0;
							font-family: @font-family-sans-serif;
							font-weight: 400;

							.desktop({
								font-size: 14px;
								margin-top: 0;
								line-height: 18px;
							});
						}
					}

					input, textarea, select {
						background-color: @cor-branco;
					}

					.block__list--archives {
						border-top: 0;
						margin-bottom: 0;

						&-item {
							.desktop({
								padding: 5px 15px;
								padding-bottom: 2px;
							});
						}
					}

					.btn-next, .btn-save {
						display: block;
						font-family: @font-family-gotham-medium;
						font-size: 15px;
						margin: 20px auto;
						padding: 25px 10px;
						width: 100%;

						.desktop({
							padding: 15px 10px;
						});

						.icon {
							margin-right: 5px;
						}
					}

					.message-to-save {
						display: none;

						.desktop({
							display: block;
						});

						p {
							color: #7a8796;
							font-size: 13px;
							font-weight: 400;
							margin-top: 32px;
						}
					}
				}

				&--open {
					.row {
						// & > .col-12:first-child {
						// 	.desktop({
						// 		.gerar-m-coluna(4, 0);
						// 	});
						// }

						.col-m-4 {
							.desktop({
								//padding: 0;
							});
						}

						.col-m-8 {
							.desktop({
								//padding: 0;
							});
						}
					}
				}
			}
		}
	}

	&__overview {
		background-color: #11212f;
		padding: 35px 0;

		.desktop({
			padding: 40px 0;
		});
	}

	&__dash {
		.block__aside {
			padding: 0 10px;
		}

		.page__title {
			.desktop({
				padding-top: 8px;
			});
			.col-12 {
				text-align: center;

				.desktop({
					text-align: left;
				});
			}

			.block__menu--avatar {
				height: 71px;
				width: 71px;

				.desktop({
					margin-bottom: 40px;
				});
			}

			h2 {
				.desktop({
					font-size: 36px;
				});
			}
		}

		.block__aside {
			.block__notes--title {
				h2, h3, h4 {
					border: none;
					padding-bottom: 5px;
				}
			}
		}
	}

	&__landing {
		.page__header {
			background: url("@{bkg}/page__header--mobile.png") no-repeat 0 0;
			.backgroundCover;
			padding: 38px 0;

			.desktop({
				background: url("@{bkg}/page__header--desktop.png") no-repeat 0 0;
				//.background-size(100% auto);
				.backgroundCover;
				padding: 40px 0;
			});

			.header__logo--form-active {
				margin: 14px 0 60px 0;
			}

			.btn-login {
				font-size: 14px;
				width: 98px;

				.desktop({
					padding: 12px 10px;
				});
			}

			.btn-support {
				.desktop({
					color: @cor-branco;
					display: inline-block !important;
					margin: 0 30px 0 0;
					font-family: @font-family-gotham-medium;
					font-size: 14px;
				});
			}
		}

		.page__intro {
			padding: 63px 0 0;
			position: relative;

			[class*="col-"] {
				position: relative;
			}

			.block__text {
				border: none;
				padding-top: 0;
				padding-bottom: 60px;
				text-align: center;

				p {
					.desktop({
						margin: 0 auto;
						max-width: 604px;
					});
				}
			}

			h2 {
				color: #40464d;
				font-family: @font-family-gotham-light;
				font-size: 31px;
				margin: 0 0 26px 0;

				.desktop({
					font-size: 32px;
				});
			}

			h3 {
				color: #40464d;
				font-family: @font-family-gotham-light;
				font-size: 26px;
				margin: 61px 0 27px 0;

				.desktop({
					margin: 138px 0 23px 0;
					text-align: left;
				});

				& ~ p {
					margin-bottom: 52px;

					.desktop({
						text-align: left;
					});
				}
			}

			p {
				color: #727c87;
				font-family: OpenSans;
				font-size: 16px;
				font-weight: 400;
				padding-left: 0;
			}

			.page__intro--image-desktop {
				position: absolute;
				right: 0;
				bottom: -12px;
			}

			.block__features {
				.border-radius(5px);
				.clearfix;
				border: solid 1px #e0e4ea;
				margin-bottom: 142px;

				.col-3 {
					border-bottom: solid 1px #e0e4ea;
					border-right: solid 1px #e0e4ea;
					height: 99px;

					&:nth-child(1n+5) {
						border-bottom: 0;
					}

					&:nth-child(4n+4) {
						border-right: 0;
					}

					p {
						.transform(translateY(-50%));
						position: absolute;
						top: 50%;
						text-align: center;
						width: 100%;

						span {
							color: #a3b1c0;
							display: block;
							font-family: @font-family-gotham-medium;
							font-size: 10px;
							line-height: 24px;
							text-transform: uppercase;
						}
					}
				}
			}
		}

		.page__timer {
			background-color: #00b86f;

			[class*="col-"] {
				position: relative;
			}

			.desktop({
				background: #00b86f url('@{bkg}/page__landing--timer.png') no-repeat left center;
			});
		}

		.page__compatibility {
			padding: 64px 0;
			position: relative;
			text-align: center;

			[class*="col-"] {
				position: relative;
			}

			.desktop({
				padding: 130px 0;
				text-align: left;
			});

			.block__text {
				border: none;
				padding: 0;

				h3 {
					color: #40464d;
					font-family: @font-family-gotham-light;
					font-size: 26px;
					margin: 0 0 15px 0;

					.desktop({
						margin-bottom: 30px;
					});
				}

				p {
					color: #727c87;
					font-family: @font-family-sans-serif;
					font-size: 16px;
					font-weight: 400;
					margin: 0 0 34px 0;

					.desktop({
						padding-left: 0;
						margin-bottom: 58px;
					});
				}

				span {
					color: #a3b1c0;
					display: block;
					font-family: @font-family-sans-serif;
					font-size: 13px;
					font-weight: 400;
					margin: 0 0 30px 0;

					.desktop({
						margin-bottom: 12px;
						text-align: center;
					});
				}

				&--table {
					border-color: #e0e4ea;

					&-body {
						> div {
							border-color: #e0e4ea;
						}
					}
				}
			}

			&--image-desktop {
				.transform(translateY(-50%));
				position: absolute;
				top: 50%;
				right: 0;
			}
		}

		.page__safety {
			background-color: #002133;
			padding: 70px 0;
			text-align: center;

			[class*="col-"] {
				position: relative;
			}

			.desktop({
				background: #002133 url('@{bkg}/page__safety.png') no-repeat left center;
				padding: 170px 0;
				text-align: left;
			});

			.block__text {
				border: none;

				h3 {
					color: @cor-branco;
					font-family: @font-family-gotham-light;
					font-size: 26px;
					margin: 0 0 29px 0;

					.desktop({
						margin-bottom: 30px;
					});
				}

				p {
					color: #727c87;
					font-family: @font-family-sans-serif;
					font-size: 16px;
					font-weight: 400;
					margin: 0 0 48px 0;

					.desktop({
						margin-bottom: 64px;
						padding-left: 0;
					});
				}
			}

			&--ssl {
				width: 140px;

				.desktop({
					width: 155px;
				});
			}

			&--iso {
				width: 180px;

				.desktop({
					width: 200px;
				});
			}
		}

		.page__register {
			padding: 76px 0;

			[class*="col-"] {
				position: relative;
			}

			.block__demonstration {
				p {
					color: #40464d;
					font-family: @font-family-gotham-light;
					font-size: 26px;
					line-height: inherit;
					margin: 0 0 61px 0;

					strong {
						color: #34bc78;
						font-family: @font-family-gotham-medium;
					}
				}

				&--form {
					form {
						background-color: #e1e8ec;
					}
				}
			}
		}

		.page__testimony {
			background-color: #00b86f;
			padding: 51px 0;

			.desktop({
				background-color: transparent;
				padding: 0 0;
				position: relative;
			});

			h3 {
				color: @cor-branco;
				display: block;
				font-family: @font-family-gotham-light;
				font-size: 20px;
				margin: 0 0 70px 0;
				text-align: center;

				.desktop({
					display: block;
					position: absolute;
					text-align: center;
					top: 50px;
					z-index: 3;
					width: 100%;
				});
			}

			.block__carousel {
				&--image {
					display: none;

					.desktop({
						.transition(~'left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s');
						.opacity(0.0);
						visibility: hidden;
						display: block;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						z-index: 1;
					});
				}

				.owl-item.active {
					.block__carousel--image {
						.transition(~'left 0.5s ease-in-out 0s, right 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s');
						.opacity(1);
						visibility: visible;
					}
				}

				.item {
					.desktop({
						height: 600px;

						.center {
							.clearfix;
							height: 600px;
							position: relative;
						}
					});
				}

				&--content {
					background: url('@{bkg}/page__testimony.png') no-repeat left top;
					.background-size(20px 15px);
					padding-left: 28px;
					position: relative;
					z-index: 2;

					.desktop({
						.transform(translateY(-50%));
						background: url('@{bkg}/page__testimony--desktop.png') no-repeat left top;
						.background-size(20px 15px);
						position: absolute;
						top: 50%;
						width: 530px;
					});

					p {
						color: @cor-branco;
						font-family: @font-family-gotham-light;
						font-size: 26px;
						line-height: 31px;
						margin: 0 0 25px 0;

						.desktop({
							font-size: 36px;
							margin-bottom: 28px;
							line-height: 40px;
						});
					}

					span {
						color: @cor-branco;
						font-family: @font-family-gotham-light;
						font-size: 12px;

						strong {
							color: #1d7449;

							.desktop({
								color: #8da1b5;
							});
						}
					}
				}

				.owl-controls {
					margin-top: 70px;

					.desktop({
						margin-top: -60px;
					});
				}

				.owl-nav {
					display: none;

					.desktop({
						display: block;
					});

					.owl-prev, .owl-next {
						//.transform(translateY(-50%));
						.text-hide !important;
						background: no-repeat transparent !important;
						position: absolute;
						top: 40%;
					}

					.owl-prev {
						background-image: url("@{ico}/icon-arrow-left-white.svg") !important;
						.background-size(9px 16px) !important;
						left: 30px;
					}

					.owl-next {
						background-image: url("@{ico}/icon-arrow-right-white.svg") !important;
						.background-size(9px 16px) !important;
						right: 30px;
					}
				}

				.owl-dot {
					.desktop({
						position: relative;
						z-index: 3;
					});

					span {
						background-color: #00965a;

						.desktop({
							background-color: #53616a;
						});
					}

					&.active {
						span {
							background-color: #fff;
						}
					}
				}
			}
		}
	}
}
